<ion-view view-title="Sign Up" name="signup-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="E-Mail" ng-model="data.email">
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="data.name">
      </label>
    </div>

    <button class="button button-block button-calm" ng-click="signUp()">Sign Up</button>
  </ion-content>
</ion-view>
